@font-face {
    font-family: "iAWriterDuospace";
    src: url("font") format('woff2');
    font-display: block;
  }
  
  html,
  body {
    color: #febb6d;
    background: #475c7b;
    font-family: 'iAWriterDuospace';
    z-index: 1;
  }
  
  html {
    overflow-y:scroll;
  }
  
  ::selection {
    color: #ffffff;
    background: #b26986;
  }
  
  ::-moz-selection {
    color: #ffffff;
    background: #b26986;
  }
  
  p {
    font-size: 10pt !important;
  }
  
  .imageDescription {
    margin-left: 8px;
    width: 100%;
    display: block;
    overflow-x: hidden;
  }
  
  .verticalSpacer {
    margin-bottom: 10px;
  }
  
  .achromatic {
    filter: grayscale(1);
  }
  
  .imageContainer {
    font-size: 10pt;
    font-weight: normal;
    width:100%;
    display: inline-block;
  }
  
  .videoContainer {
    border: thin solid #e4e4e4;
    background: #ffffff;
  
    width: 100%;
    height: auto;
  
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -0-transform:scale(1,1);
    -moz-transform:scale(1,1);
  
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -0-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
  }
  
  .videoContainer:hover {
    border: thin solid #e4e4e4;
    box-shadow: 1px 1px 3px #888;
    background: #ffffff;
  
    width: 100%;
    height: auto;
  
    transform:scale(1.5,1.5);
    -webkit-transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5);
    -0-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
  
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -0-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
  }
  
  .interactiveImage {
    border: thin solid #e4e4e4;
    background: #ffffff;
  
    width: 100%;
    height: auto;
  
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -0-transform:scale(1,1);
    -moz-transform:scale(1,1);
  
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -0-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
  }
  
  .interactiveImage:hover {
    border: thin solid #e4e4e4;
    box-shadow: 1px 1px 3px #888;
    background: #ffffff;
  
    width: 100%;
    height: auto;
  
    transform:scale(1.5,1.5);
    -webkit-transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5);
    -0-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
  
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -0-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
  }
  
  .bigLine {
    line-height: 2.8;
  }
  
  a {
    color: #2497c4;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #b26986;
    font-weight: normal;
    text-decoration: none;
  }
  
  .brighterBadge {
    background-color: #BBBBBB;
  }
  
  .thicc {
    font-weight: bold;
  }
  
  .chodeFont {
    font-size: 7pt;
    font-weight: bold;
  }
  
  .smallFont {
    font-size: 7pt;
  }
  
  .medFont {
    font-size: 11pt;
  }
  
  .bigFont {
    font-size: 32pt;
    font-weight: bold;
  }
  
  .tinyFont {
    font-size: 7pt !important;
    font-weight: bold;
  }
  
  .slimFont {
    font-weight: normal;
  }
  
  .slimFont:hover {
    font-weight: normal;
  }
  
  .postFooter {
    margin-top: 10px;
  }
  
  .toUppercase {
    text-transform:uppercase;
  }
  
  .postFooterDiv {
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .verticalCenter {
    vertical-align: middle;
  }
  
  .footer {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    color: #c5c5c5;
  }
  
  .contentContainer {
    margin: 10%;
    width: 900px;
    display: inline-block;
    text-align: left;
  }
  
  .mainContainer {
    text-align: center;
  }
  
  @media screen and (max-width: 900px) {
    .contentContainer {
      float: none;
      width: 100%;
      margin:0%;
    }
  }