  @font-face {
    font-family: "Roboto-Mono-regular";
    src: url("font") format('woff2');
    font-display: block;
  }

  #toastNotification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #toastNotification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  .anchorIcon {
    fill: #ffffff;
  }

  .paragraph {
    background: #37465b;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  .headline {
    display: flex;
    background: #08c6ab;
    color: #37465b;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .headlineStretcher {
    margin-left: 5px;
    width: 100%;
    text-transform: uppercase;
  }

  .paragraphContent {
    font-size: large;
    padding: 20px;
  }

  .linkButton {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #9de5db;
    border-radius: 10px;
    padding: 2px;
    font-weight: normal !important;
    margin-top: 2px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    transition: all 0.8s ease-out 0.1s;
    transition: background-color 0.5s ease-out 0.1s;
    transform:scale(1,1);
  }
  
  .linkButton:hover,
  .linkButton:focus {
    text-transform: uppercase;
    background-color: #c5e2de;
    border-radius: 10px;
    padding: 2px;
    font-weight: bold !important;
    transform:scale(1.05,1.05);
  }

  .topLine {
    width: 100%;
    background: #08c6ab;
    height: 15px;
    margin: 0%;
  }
  
  html,
  body {
    color: #dfdfdf;
    background: #212b38;
    font-family: 'Roboto-Mono-regular';
    z-index: 1;
    margin: 0px;
  }
  
  html {
    overflow-y:scroll;
  }
  
  ::selection {
    color: #ffffff;
    background: #726eff;
  }
  
  ::-moz-selection {
    color: #ffffff;
    background: #726eff;
  }
  
  p {
    font-size: 10pt !important;
  }
  
  .imageDescription {
    margin-left: 8px;
    width: 100%;
    display: block;
    overflow-x: hidden;
  }
  
  .verticalSpacer {
    margin-bottom: 10px;
  }
  
  .achromatic {
    filter: grayscale(1);
  }
  
  .imageContainer {
    font-size: 10pt;
    font-weight: normal;
    width:100%;
    display: inline-block;
  }
  
  .videoContainer {
    border: thin solid #e4e4e4;
    background: #ffffff;
  
    width: 100%;
    height: auto;

    border-radius: 5px;
  
    transform:scale(1,1);
  
    transition: all 0.1s ease;
  }
  
  .videoContainer:hover {
    border: thin solid #e4e4e4;
    box-shadow: 1px 1px 3px #888;
    background: #ffffff;
  
    width: 100%;
    height: auto;
  
    transform:scale(1.02, 1.02);
  
    transition: all 0.15s ease;
  }
  
  .interactiveImage {
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #e4e4e4;
    background: #ffffff;

    border-radius: 5px;
  
    width: 100%;
    height: auto;
  
    transform:scale(1, 1);
  
    transition: all 0.1s ease;
  }
  
  .interactiveImage:hover {
    border: thin solid #e4e4e4;
    box-shadow: 1px 1px 3px #888;
    background: #ffffff;
  
    width: 100%;
    height: auto;
  
    transform:scale(1.02, 1.02);
  
    transition: all 0.15s ease;
  }
  
  .bigLine {
    line-height: 2.8;
  }
  
  a {
    color: #2497c4;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #726eff;
    font-weight: normal;
    text-decoration: none;
  }
  
  .brighterBadge {
    background-color: #BBBBBB;
  }
  
  .thicc {
    font-weight: bold;
  }
  
  .chodeFont {
    font-size: 7pt;
    font-weight: bold;
  }
  
  .smallFont {
    font-size: 7pt;
  }
  
  .medFont {
    font-size: 11pt;
  }
  
  .bigFont {
    font-size: 26pt;
    font-weight: bold;
  }
  
  .tinyFont {
    font-size: 7pt !important;
    font-weight: bold;
  }
  
  .slimFont {
    font-weight: normal;
  }
  
  .slimFont:hover {
    font-weight: normal;
  }
  
  .postFooter {
    margin-top: 10px;
  }
  
  .toUppercase {
    text-transform:uppercase;
  }
  
  .postFooterDiv {
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .verticalCenter {
    vertical-align: middle;
  }
  
  .footer {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    color: #c5c5c5;
  }
  
  .contentContainer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    display: inline-block;
    text-align: left;
  }
  
  .mainContainer {
    text-align: center;
  }
  
  @media screen and (max-width: 900px) {
    .contentContainer {
      float: none;
      width: 100%;
      margin:0%;
    }

    .paragraph {
      border-radius: 0px;
    }

    .headline {
      border-radius: 0px;
    }
  }